<div class="col-md-4 col-md-offset-4">
  <p>
    <h2> Post </h2>
    <br>
    </p>

  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= @post.link %>
  </p>

  <br>

  <br>
  <br>
</div>
</div>
</div>